

.mainCard{
    /* background-color: orange; */
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 15px;
    width: 80vw;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 5px 12px 12px grey;

}
.movieInfo{
    
    width: 100%;
}

.moviePoster{
    width: 120px;
}


.movieYear{
    color: rgb(97, 95, 95);
}


.movieName__section , .movieYear__section{
    /* background-color: green; */
    padding:15px;
}

.movieName{
    width: 100%;
}

.wishlist {
    /* Add the following styles */
    display: flex;
  
    width: 100%;
    justify-content: flex-end;
    margin-top: auto;
  
}