body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.searchSection{
    /* background-color: rgb(57, 143, 255); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    margin: 0;


}

.poster{
    width: 350px;
}

input{
    display: block;
    margin: 25px;
    
}

.overview{
    border: 2px solid black;
    width: 98%;
    /* height: 70px; */
    padding: 15px;
}